html, body {
    margin: 0;
    padding: 0;
    background: black;
    margin-left: 5%;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

h1 {
    color: yellow;
    letter-spacing: 4px;
}

h2 {
    color: white;
    letter-spacing: 2px;
}

#hookGenerator {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    color: white;
    width: 75%;
}

#hookEntry {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

label {
    margin-bottom: 1rem;
}

#hookOutput {
    background-color: #4169E1;
    height: 150px;
    display: flex;
}