html, body {
    margin: 0;
    padding: 0;
    background: black;
}

.App {
    height: 100vh;
    margin: 0;
    margin-left: 10%;
    color: yellow;
    letter-spacing: 2px;
    background: black;
}